{% extends 'base.html' %} {% block title %} File Upload {% endblock %}
{% block content %}
<h1 class="mt-4">File Upload</h1>

<form method="post" enctype="multipart/form-data" action="/upload" class="mt-4">
  {% csrf_token %}
  <div class="form-group">
    <label for="fileInput">Select File:</label>
    <input type="file" class="form-control-file" id="fileInput" name="file" />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}

{% block js_block %}
  <script>

  <script>
{% endblock %}
